<h2 mat-dialog-title>Congratulations!</h2>
<mat-dialog-content class="mat-typography">
  You've completed the game.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="clickButtonHome(); "> Play Again</button>
        <button mat-raised-button color="primary" (click)="clickButtonChart(); "> See your scores</button>
      </li>
    </ul>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-dialog-actions>
