

.news {
  motion-path: path("M 700 200 L 800 200 C 900 150 800 50 1050 50 C 1250 100 1350 150 1400 350 C 1400 500 1250 500 1150 550 A 50 50 90 0 0 800 450 A 50 50 90 0 0 1250 300 A 50 50 90 0 0 850 650 V 400 Q 950 700 1400 600 C 1333.3334 450 900 450 1200 150 V 0 C 1033.3334 66.6666 600 650 700 200");

  offset-path: path("M 700 200 L 800 200 C 900 150 800 50 1050 50 C 1250 100 1350 150 1400 350 C 1400 500 1250 500 1150 550 A 50 50 90 0 0 800 450 A 50 50 90 0 0 1250 300 A 50 50 90 0 0 850 650 V 400 Q 950 700 1400 600 C 1333.3334 450 900 450 1200 150 V 0 C 1033.3334 66.6666 600 650 700 200");
  motion-rotation: reverse;
  animation: move 60s linear infinite;
}
@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
