.grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 12px;

  justify-content: center;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, 120px);
  }
}

.main-screen {
  float: left;
}

.news-main {
  float: bottom;
}

.card-screen {
  margin: auto;
}

.news-item {
  width: 300px;
  height: 300px;
  position: absolute;
  float: left;
}

.news-item-right {
  width: 300px;
  height: 300px;
  float: top;
}

.logo {
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.card {
  height: 600px;
  width: auto;
  position: absolute;
  right: 100px;
  top: 80px;
}
html {
  background: rgb(5,123,249);
  background: linear-gradient(90deg, rgba(5,123,249,1) 32%, rgba(226,155,237,1) 100%);
}
h1 {
  color: gold;
  font-size: 5.8em;
  position: absolute;
  top: 200px;
  left: 100px;
  font-family: 'Zen Dots', cursive;
}
.topLine {
  position: relative;
  width: 80%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topLine header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topButtons {
  position: relative;
  display: flex;
}
.topButtons button {
  cursor: pointer;
  display: inline-block;
  color: #ffd700;
  font-weight: 500;
  font-family: 'Monofett', cursive;
  font-size: 2em;
  margin-right: 40px;
  border: none;
  background: none;
}

/* Source: https://www.youtube.com/watch?v=d_kH92CVbXQ */
.loginPrompt {
  color: gold;
  font-size: 2em;
  position: absolute;
  top: 400px;
  padding-left: 100px;
  font-family: 'Zen Dots', cursive;
}

#loginButton {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #ffd700;
  font-weight: 500;
  font-family: 'Monofett', cursive;
  font-size: 2em;
  margin-right: 40px;
  border: none;
  background: none;
}
.inputField {
  width: 500px;
}

.modalTitle {
  padding: 5px 5px;
  font-size: 1.5em;
  font-family: 'Zen Dots', cursive;
}
.appInfoBody {
  padding: 10px 10px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
.devInfoBody {
  padding: 10px 10px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
.devContactBody {
  padding: 10px 10px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}



