<mat-toolbar color="primary" class="text-center">
Lockdown Minds
</mat-toolbar>
<div class="p-16">
  <p class="text-center">Click Start game to begin!</p>
  <button (click)='startGame()'>Start game</button>
  <p>{{returnTime}}</p>
  <div class="grid p-16">
    <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
    </app-game-card>
  </div>
</div>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
        </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
