.grid {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 12px;

  justify-content: center;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, 120px);
  }
}

.main-screen {
  margin: 0;
  position: relative;
}

.card-screen {
  margin: auto;
  width: 650px;
}

.news-item {
  width: 300px;
  height: 300px;
  position: absolute;
}

.news-item-right {
  width: 300px;
  height: 300px;
float: top;
}

